@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, rgb(50 47 56) 0%, rgb(78 154 175) 100%);
  padding: 8px;
  gap: 8px;
}

.column-info,
.column-courses {
  border-radius: 8px;
}

/* FIRST COLUMN */

.column-info {
  width: 45%;
  background-color: #ffffff26;
  color: white;
  padding: 20px 5px;
}

.column-info .name {
  margin-bottom: 5px;
  font-size: 45px;
}

.column-info .name,
.column-info .job {
  text-align: center;
}

.column-info .about-me {
  margin-top: calc(25px + 75px);
  border: white solid 1px;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  background-color: #ffffff1f;
}

.column-info .about-me .description p:first-child {
  margin-bottom: 5px;
  font-weight: bold;
}

.column-info .about-me .description p:nth-child(2) {
  font-size: 14px;
  font-weight: 300;
}

.column-info .about-me .avatar {
  background-color: white;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  padding: 25px;
}

.column-info .about-me .description {
  margin-top: 75px;
}

.column-info .about-me .avatar p {
  color: initial;
  font-size: 12px;
  text-align: center;
}

.column-info .infos,
.column-info .languages {
  margin-top: 35px;
  padding: 0 10px;
}

.column-info .infos-item {
  display: flex;
  gap: 20px;
  padding: 12px 12px;
  border-radius: 20px;
  background-color: #ffffff1f;
}

.column-info .infos-item p {
  text-transform: uppercase;
  font-weight: 300;
}

.column-info .infos-item img {
  width: 18px;
}

.column-info .infos-item:not(.infos-item:last-child) {
  margin-bottom: 20px;
}

.column-info .languages {
  padding-right: 30px;
}

.column-info .languages > p {
  margin-bottom: 15px;
}

.column-info .languages-item:not(.languages-item:last-child) {
  margin-bottom: 10px;
}

.column-info .languages .languages-item {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.column-info .languages .languages-item p {
  text-transform: uppercase;
  font-weight: 300;
}

.column-info .languages .languages-item .score {
  display: flex;
  gap: 8px;
}

.column-info .languages .languages-item .score .bullet {
  width: 22px;
  height: 22px;
  border: solid 1px white;
  border-radius: 100%;
}

.column-info .languages .languages-item .score .bullet.fill {
  background-color: white;
}

/* SECOND COLUMN */

.column-courses {
  width: 55%;
  padding: 20px;
  background-color: white;
}

.column-courses .course-item:not(:last-child) {
  margin-bottom: 10px;
}

.course-item .course-title::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #2c8598;
  position: relative;
  top: 20px;
}

.course-item .course-title h2 {
  color: white;
  background-color: #2c8598;
  padding: 10px 30px;
  border-radius: 30px;
  display: inline-block;
  font-size: 16px;
  min-width: 150px;
  text-align: center;
  position: relative;
}

.course-item .course-content > :first-child {
  margin-top: 14px;
}

.course-item .course-content > :not(:last-child) {
  margin-bottom: 5px;
}

.course-item .course-content .skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.course-item .course-content .skills-grid .grid-item {
  justify-self: center;
}

.course-item .course-content .skills-grid .grid-item > p,
.course-item .course-content .hobbies-grid .grid-item > p {
  color: #847d7d;
  font-size: 11px;
  font-weight: 300;
}

.course-item .course-content .skills-grid .grid-item .circle {
  width: 43px;
  height: 43px;
  border-radius: 100%;
  background-color: #f0ecec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
}

.course-item .course-content .skills-grid .grid-item .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
}

.course-item .course-content .skills-grid .grid-item .progress-bar {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid white;
  border-bottom-color: #2c8598;
  border-right-color: #2c8598;
  padding: 25px;
}

.course-item
  .course-content
  .skills-grid
  .grid-item:nth-child(1)
  .progress-bar {
  transform: rotate(145deg);
  border-top-color: #2c8598;
}

.course-item
  .course-content
  .skills-grid
  .grid-item:nth-child(2)
  .progress-bar {
  transform: rotate(327deg);
  border-top-color: #2c8598;
}

.course-item
  .course-content
  .skills-grid
  .grid-item:nth-child(3)
  .progress-bar {
  transform: rotate(315deg);
}

.course-item
  .course-content
  .skills-grid
  .grid-item:nth-child(4)
  .progress-bar {
  transform: rotate(145deg);
}

.course-item .course-content .skills-grid .grid-item .circle img {
  width: 20px;
}

.course-item .course-subtitle {
  color: #2c8598;
}

.course-item .course-description {
  color: #847d7d;
}

.course-item .course-content .hobbies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.course-item .course-content .hobbies-grid .grid-item img {
  width: 26px;
  margin: auto;
  display: block;
  margin-bottom: 7px;
}
